@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bookpurple: #3C1053;
  --color-bookred: #F2120C;
  --color-bookblack: #000000;
  --color-bookwhite: #FFFFFF;

  --color-lawpurple: #B51825;
  --color-warmstone: #918B83;
  --color-deepcharcoal: #302C2A;
  --color-softivory: #F2EFEB;
}

@layer base {
  body {
    @apply bg-softivory text-deepcharcoal font-sans antialiased;
  }
  
  /* Apply dark mode if preferred */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-deepcharcoal text-softivory;
    }
  }

  code {
    @apply bg-warmstone/20 text-bookpurple dark:text-bookwhite px-1.5 py-0.5 rounded-md font-mono text-sm;
  }
  
  pre {
    @apply bg-bookblack text-softivory p-4 rounded-lg overflow-x-auto shadow-md;
  }
  
  pre code {
    @apply bg-transparent text-inherit p-0 rounded-none;
  }
}
